.jumbotron{
    margin: 0!important;
}
*{
    transition: 1s;
}
main{
    height:100vh;
}
.btn-yandex-passport{
    color: black;
    background-color: white;
    border-color:#ffcc00; 
}
.btn-yandex-passport:hover{
    color: black;
    background-color: white;
    border-color:#ffcc00; 
    
}
span{
    color:white
}
span:hover{
    background: rgba(255,255,255,0.05);
}
.card-img-top{
    height: 140px!important; 
}
/*.modal-content-img{
    height:50vh;
}*/
#picmodal {
    height: 100vh;
}
/*.modal-img{
    height: 300vh!important;
    width: 300vh!important;
}*/


/** {
margin: 0;
padding: 0;
list-style-type:none;
}*/

/*header div.thumbnail-peekaboo:hover {
	-webkit-animation: TMNT 4s ease-in;
	-webkit-animation-fill-mode:backwards;
}*/

a.prev,a.next {
	height:91px;
	position:absolute;
	width:43px;
        top: 200px;
	margin-top:-30px;
	opacity:0.6;
	text-indent:-99999px;
	cursor:pointer;
        z-index: 1060;
	-webkit-transition:opacity 200ms ease-out;
        opacity: 0.2;
}
a.prev:hover,a.next:hover {
	opacity:1;
}
.prev:hover{
    opacity:1;
}
.next:hover{
    opacity:1;
}
.prev {
        
	left:0;
        
	background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
}
.next {
       
	left:707px;
       
	background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
}
.slider {
	/*height:100vh;*/
	position: relative;
}
.slide {
	position:absolute;
	height:100%;
	width:100%;
}
.slider .slide:target {
	z-index: 1050;
}

.modal-img{
    position: absolute;
    left: 20%;
    width: 60%;
    top:20%;
}
/*img {
	max-width:100%;
	width:100%;
	position:fixed;
	left:0;
}*/
li{
    list-style-type: none;
}